<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchaselistMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchaselist" >
    <id column="purchaselistid" property="purchaselistid" jdbcType="INTEGER" />
    <result column="dingle" property="dingle" jdbcType="VARCHAR" />
    <result column="deliverydate" property="deliverydate" jdbcType="DATE" />
    <result column="suppliersId" property="suppliersid" jdbcType="INTEGER" />
    <result column="monogragh" property="monogragh" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="SUM" property="sum" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="goodid" property="goodid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    purchaselistid, dingle, deliverydate, suppliersId, monogragh, remark, SUM, amount, 
    goodid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.PurchaselistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchaselist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchaselist
    where purchaselistid = #{purchaselistid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchaselist
    where purchaselistid = #{purchaselistid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.PurchaselistExample" >
    delete from purchaselist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Purchaselist" >
    insert into purchaselist (purchaselistid, dingle, deliverydate, 
      suppliersId, monogragh, remark, 
      SUM, amount, goodid)
    values (#{purchaselistid,jdbcType=INTEGER}, #{dingle,jdbcType=VARCHAR}, #{deliverydate,jdbcType=DATE}, 
      #{suppliersid,jdbcType=INTEGER}, #{monogragh,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{sum,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}, #{goodid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchaselist" >
    insert into purchaselist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaselistid != null" >
        purchaselistid,
      </if>
      <if test="dingle != null" >
        dingle,
      </if>
      <if test="deliverydate != null" >
        deliverydate,
      </if>
      <if test="suppliersid != null" >
        suppliersId,
      </if>
      <if test="monogragh != null" >
        monogragh,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sum != null" >
        SUM,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="goodid != null" >
        goodid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaselistid != null" >
        #{purchaselistid,jdbcType=INTEGER},
      </if>
      <if test="dingle != null" >
        #{dingle,jdbcType=VARCHAR},
      </if>
      <if test="deliverydate != null" >
        #{deliverydate,jdbcType=DATE},
      </if>
      <if test="suppliersid != null" >
        #{suppliersid,jdbcType=INTEGER},
      </if>
      <if test="monogragh != null" >
        #{monogragh,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.PurchaselistExample" resultType="java.lang.Integer" >
    select count(*) from purchaselist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchaselist
    <set >
      <if test="record.purchaselistid != null" >
        purchaselistid = #{record.purchaselistid,jdbcType=INTEGER},
      </if>
      <if test="record.dingle != null" >
        dingle = #{record.dingle,jdbcType=VARCHAR},
      </if>
      <if test="record.deliverydate != null" >
        deliverydate = #{record.deliverydate,jdbcType=DATE},
      </if>
      <if test="record.suppliersid != null" >
        suppliersId = #{record.suppliersid,jdbcType=INTEGER},
      </if>
      <if test="record.monogragh != null" >
        monogragh = #{record.monogragh,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sum != null" >
        SUM = #{record.sum,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.goodid != null" >
        goodid = #{record.goodid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchaselist
    set purchaselistid = #{record.purchaselistid,jdbcType=INTEGER},
      dingle = #{record.dingle,jdbcType=VARCHAR},
      deliverydate = #{record.deliverydate,jdbcType=DATE},
      suppliersId = #{record.suppliersid,jdbcType=INTEGER},
      monogragh = #{record.monogragh,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      SUM = #{record.sum,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=DOUBLE},
      goodid = #{record.goodid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchaselist" >
    update purchaselist
    <set >
      <if test="dingle != null" >
        dingle = #{dingle,jdbcType=VARCHAR},
      </if>
      <if test="deliverydate != null" >
        deliverydate = #{deliverydate,jdbcType=DATE},
      </if>
      <if test="suppliersid != null" >
        suppliersId = #{suppliersid,jdbcType=INTEGER},
      </if>
      <if test="monogragh != null" >
        monogragh = #{monogragh,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sum != null" >
        SUM = #{sum,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="goodid != null" >
        goodid = #{goodid,jdbcType=INTEGER},
      </if>
    </set>
    where purchaselistid = #{purchaselistid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchaselist" >
    update purchaselist
    set dingle = #{dingle,jdbcType=VARCHAR},
      deliverydate = #{deliverydate,jdbcType=DATE},
      suppliersId = #{suppliersid,jdbcType=INTEGER},
      monogragh = #{monogragh,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      SUM = #{sum,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE},
      goodid = #{goodid,jdbcType=INTEGER}
    where purchaselistid = #{purchaselistid,jdbcType=INTEGER}
  </update>
</mapper>