<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/toAdd}">新增</a>
	<table>
		<tr>
			<td>编号</td>
			<td>姓名</td>
			<td>年龄</td>
			<!-- <td>生日</td> -->
			<td colspan="2" style="text-align: center;">操作</td>
		</tr>
		<tr th:each="item : ${list}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.age}"></td>
			<!-- <td th:text="${#dates.format(item.birthday,'yyyy-MM-dd')}"></td> -->
			<td><a th:href="@{/delete(id=${item.id})}">删除</a></td>
			<td><a th:href="@{/toUpdate(id=${item.id})}">修改</a></td>
		</tr>
	</table>
</body>
</html>